<h1 id="inicioGaleria" class="row titulos">
		
		<hr>

		GALERÍA DE IMÁGENES

		<hr>

	</h1>
    <!--si galeriaJson viene cargado-->
	<div id="galeria" class="row" *ngIf="galeriaJson">
		
		<ul>
			<li class="col-lg-2 col-md-3 col-sm-4 col-xs-12" *ngFor="let galeria of galeriaJson">
            <!--<img src="{{galeria.foto}}">-->
            <!--ponemos la ruta completa de la imagen especificada galeria.component.ts-->
                <!--<img src="{{url + '/' +galeria.foto}}">-->
                <img src="{{url + 'tomarimagengaleria/' + galeria.foto}}">
                <div *ngIf="identificado">
                                    
                    <i (click) = "borrarFoto(galeria)" class="fa fa-trash" aria-hidden="true"></i>
                
                </div>
            
            </li>
					
		</ul>

	</div>
    <!--si galeriaJson no viene cargado-->
    <span *ngIf="!galeriaJson">Cargando Slide......</span> 